LOGIN_URL=https://ed.engdis.com/ucbtarija#/login
LOGIN_USERNAME=tu_usuario
LOGIN_PASSWORD=tu_contrasena

HEADLESS=false
MAX_RETRIES=2
MAX_STUCK_RETRIES=5
DEBUG_API=false

AI_API_KEY=
AI_BASE_URL=https://api.groq.com/openai/v1/chat/completions
AI_MODEL=llama-3.3-70b-versatile
AI_AUTO_SELECT=true
TEST_ALLOW_GUESS=false
